body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(0, 0, 0);
}

#container{
    width: 600px;
    height: 650px;
    background-image: linear-gradient(rgb(201, 186, 58));
    background-size: cover;
    margin: 20px;
}

#calculator{
    width: 320px;
    height: 550px;
    background-color: rgb(51, 49, 49);
    margin: 0 auto;
    top: 40px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 10px 10px 40px rgba(100, 500, 200, 1);
}

#result{
    height: 130px;
}

#history{
    text-align: right;
    height: 40px;
    margin: 0 20px;
    padding-top: 10px;
    font-size: 25px;
    color: #ffffff;
}

#output{
    text-align: right;
    padding-top: 10px;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

#keyboard{
    height: 400px;
}
.operator,
.number,
.empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 30px;
    border-width: 5;
    border-color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
}

.number,
.empty {
    background-color: #a3a3a3;
}

.number
.operator {
    cursor: pointer;
}

.operator:active,
.number:active {
    font-size: 50px;
}

.operator:focus,
.number:focus,
.empty:focus {
    outline: 10;
}
button:nth-child(4) {
    font-size: 20px;
    background-color: #156f0c;
}

button:nth-child(8) {
    font-size: 20px;
    background-color: #ffa500;
}

button:nth-child(12) {
    font-size: 20px;
    background-color: #f08080;
}

button:nth-child(16) {
    font-size: 20px;
    background-color: #dd5212;
}

button:nth-child(20) {
    font-size: 20px;
    background-color: #9477af;
}